meta(content="デジクリ - Digital Creation Circle", property='og:title')
meta(content='website', property='og:type')
meta(content='http://digicre.net', property='og:url')
meta(contnet='http://digicre.net/img/icon.png', property='og:image')
meta(content="芝浦工業大学公認サークルデジクリの公式サイトです。", property='og:description')