meta(content='summary', name='twitter:card')
meta(content='@sitdigicre', name='twitter:site')
meta(content="デジクリ - Digital Creation Circle", name='twitter:title')
meta(content='http://digicre.net/img/icon.png', name='twitter:image')
meta(content="芝浦工業大学公認サークルデジクリの公式サイトです。", name='twitter:description')