@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import url(https://fonts.googleapis.com/earlyaccess/mplus1p.css);
body {
  font-family: "Mplus 1p", "Noto Sans Japanese", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
}

h1.area-title {
  text-align: left;
  margin-left: 0.3em;
  padding: 0.3em;
  width: 100%;
  font-weight: 600;
  i {
    margin-right: 0.5em;
  }
  border-bottom: 1px solid black;
}
