@import "./variables.scss";
#news {
  background: #99d0cd;
  .news-area {
    border-bottom: rgba(79, 115, 243, 0.58) solid 1px;
    &:last-child {
      border: none;
    }
    p {
      &.news-title {
        font-weight: 500;
        margin-left: 0.5em;
        a {
          color:black;
        }
        @include md-screen {
          margin-top: 0em;
          margin-bottom: 0.3em;
          margin-left: 2em;
        }
        @include xs-screen {
          margin-top: 0em;
          margin-bottom: 0.3em;
          margin-left: 2em;
        }
      }
      &.news-date {
        margin-left: 0.5em;
        font-size: 1em;
        @include md-screen {
          margin-top: 0.3em;
          margin-bottom: 0.3em;
          margin-left: 2em;
        }
        @include xs-screen {
          margin-top: 0.3em;
          margin-bottom: 0.3em;
          margin-left: 2em;
        }
      }
    }
  }
}