@import "./variables.scss";
#top {
  background: #52a780;
  .top-img-area {
    margin-right: 10%;
    margin-left: 10%;
    @include sm-screen {
      margin-top: 5em;
      margin-bottom: 5em;
    }
    @include xs-screen {
      margin-top: 5em;
      margin-bottom: 5em;
    }
    .logo {
      height: auto;
      width: auto;
    }
  }
  .caption {
    text-align: center;
    color: white;
  }
}


/*
  .circles-zone {
    .circle-zone {
      @include sm-screen {
        margin: 0 auto;
      }
      .circle {
        width: 100%;
        padding-bottom: 100%;
        height: 0;
        //    border-radius: 50%;
        background-color: yellow;
        .circle-content {
          padding: 1em;
        }
      }
    }
  }*/
